<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Pinturera</title>
</head>
<body>
    <h1>Inventario de Pinturera</h1>
    <ul id="latas-list">
        <!-- Aquí se cargarán las latas dinámicamente -->
    </ul>

    <h2>Agregar Nueva Lata</h2>
    <form action="/agregar_lata" method="POST">
        <label for="tamanio">Tamaño:</label>
        <input type="text" id="tamanio" name="tamanio" required><br><br>

        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" required><br><br>

        <button type="submit">Agregar Lata</button>
    </form>
    <script src="static/js/script.js"></script>
</body>
</html>