<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Pinturera</title>
</head>
<body>
    <h1>Inventario de Pinturera</h1>
 
    <ul id="marcas-list">
        <!-- Aquí se cargarán las latas dinámicamente -->
    </ul>

    <h2>Agregar Nueva Marca</h2>
    <form action="/agregar_marca" method="POST">
        <label for="lata_id">ID de la Lata:</label>
        <input type="text" id="lata_id" name="lata_id" required><br><br>

        <label for="nombre">Nombre de la Marca:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="precio_x_litro">Precio por Litro:</label>
        <input type="text" id="precio_x_litro" name="precio_x_litro" required><br><br>

        <button type="submit">Agregar Marca</button>
    </form>

    <script src="static/js/script.js"></script>

</body>
</html>